body {
    padding-top: 65px;
}

.content {
    margin: 0 auto 0 auto;
    padding-left: 50px;
    padding-right: 50px;
}

.header-rule {
    margin-top: 0px;
    margin-bottom: 10px;
}

.subheading {
    margin-top: 10px;
    margin-bottom: 10px;
}

.page-header {
    margin-top: 0;
    height: 20px;
}

.page-header h2 {
    display: inline;
}

.page-header-links {
    float: right;
}

.table td
{
    vertical-align: middle;
}

tr .image
{
    text-align: center;
    vertical-align: middle;
}

tr .links
{
    text-align: center;
    vertical-align: middle;
    width: 100px;
}

footer
{
    border-top: 1px solid #c0c0c0;
    color: #7C7C7C;
    font-size: 9pt;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.error-message {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    display: none;
}

.about {
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    background:url(../images/volta.logo.large.png) left center no-repeat;
    padding-left:220px;
}

.logout {
	cursor: pointer;
	cursor: hand;    
}

.modal-backdrop {
    opacity: 0.5;
}