html { height:100% }

.error-body {
  background-color: #A0A0A0;
  background-image: -moz-radial-gradient(center 45deg,circle cover, #EAEAEA, #A0A0A0);
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%,800, from(#EAEAEA), to(#A0A0A0));
  background-image: radial-gradient(center 45deg,circle cover, #EAEAEA, #A0A0A0);
}

.error-text {
    font-size: 30pt;
    font-family: arial;
}

.load-indicator {
    margin: 200px auto 0 auto;
    width: 300px;
}

.application-body {
  background-color: #6E8EA7;
  background-image: -moz-radial-gradient(center 45deg,circle cover, #6E8EA7, #3C5A76);
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%,800, from(#6E8EA7), to(#3C5A76));
  background-image: radial-gradient(center 45deg,circle cover, #6E8EA7, #3C5A76);
}

.login-content {
    width: 420px; 
    margin: 110px auto 200px auto;
    text-align: center;
}

.login-form {
    margin: 50px;
}

.login-error-message {
    padding: 8px 14px 8px 14px;
    margin-left: auto;
    margin-right: auto;
    width: 270px;
    text-align: center;
    display: none;
}