<div class="page-header">
    <h2>Add Template</h2>
</div>

<form class="form-horizontal">
    <fieldset>
        <div class="control-group username">
        <label class="control-label" for="name">Name</label>
        <div class="controls">
            <input type="text" class="input-xlarge" id="name" name="name">
            <span class="help-inline message"></span>
        </div>
        </div>
        <div class="control-group">
        <label class="control-label" for="file">Template File</label>
            <div class="controls">
                <input class="input-file" id="file" name="file" type="file">
            </div>
        </div>
        <div class="form-actions">
        <button type="submit" class="btn btn-primary save">Add</button>
        <a href="/#batches/templates" class="btn">Cancel</a>
            <span class="help-inline"></span>
        </div>
    </fieldset>
</form>