<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="NUnit">
      <section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
      <section name="Volta" type="Volta.Core.Application.Configuration.ConfigurationSection, Volta.Core" />
  </configSections>
  <Volta connectionString="mongodb://volta:volta@localhost/voltatest" />
  <NUnit>
    <TestRunner>
      <!-- Valid values are STA,MTA. Others ignored. -->
      <add key="ApartmentState" value="STA" />
    </TestRunner>
  </NUnit>
</configuration>