<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="NUnit">
      <section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
    <section name="Volta" type="Volta.Core.Application.Configuration.ConfigurationSection, Volta.Core" />
  </configSections>
  <connectionStrings>
    <add name="VoltaTest" connectionString="mongodb://volta:volta@localhost/voltatest"/>
  </connectionStrings>
  <appSettings>
    <add key="VoltaUrl" value="http://localhost:50268/"/>
  </appSettings>
  <Volta connectionString="mongodb://yada/yada" />
  <NUnit>
    <TestRunner>
      <!-- Valid values are STA,MTA. Others ignored. -->
      <add key="ApartmentState" value="STA" />
    </TestRunner>
  </NUnit>
</configuration>