body
{
    margin: 0px;
    background: #B1B1AB;
    font-family: verdana, arial;
    font-size: 10pt;
}

img
{
    border: 0px;
}

form
{
    margin: 0;
    padding: 0;
    display:inline;
}

hr
{
    color: #D3BB8D;
    height: 0px;
    background-color: ;
    border-style: solid;
    border-width: 1px 0 1px 0;
    border-color: #938B55 #fff #F1EAD7 #fff;
    margin: 20px 0 20px 0;
}

fieldset
{
    text-align: left;
    border: solid 1px #938B55;
    background-color: #ffffff;
    padding: 10px 10px 10px 20px;
    margin-bottom: 10px;
}

legend
{
    top: -10px;
    border-style: solid;
    border-color: #938B55;
    border-width: 1px 1px 0 1px;
    background-color: #ffffff;
    font-weight: bold;
    color: #351E0D;
    background-color: #ffffff;
    padding: 5px 10px 5px 15px;
}

a:hover
{
    text-decoration: underline;
}

.lightanchor:link { color: #ffffff; text-decoration: none;}
.lightanchor:visited { color: #ffffff; text-decoration: none;}
.lightanchor:hover { color: #ffffff; text-decoration: underline;}

.darkanchor:link { color: #351E0D; font-weight: bold; text-decoration: none;}
.darkanchor:visited { color: #351E0D; font-weight: bold; text-decoration: none;}
.darkanchor:hover { color: #351E0D; font-weight: bold; text-decoration: underline;}

.darkfineanchor:link { color: #351E0D; text-decoration: none;}
.darkfineanchor:visited { color: #351E0D; text-decoration: none;}
.darkfineanchor:hover { color: #351E0D; text-decoration: underline;}

.textbox
{
    border: 1px solid #777465;
    padding: 3px 5px 3px 5px;
    background-color: #F0ECE1;
    margin: 5px 0 5px 0;
}

.button
{
    border: 1px solid #777465;
    background: url(images/button.light.png);
    padding: 7px 15px 7px 15px;
    cursor: hand;
    cursor: pointer;
}

.button:hover
{
    border: 1px solid #777465;
    background: url(images/button.dark.png);
    padding: 7px 15px 7px 15px;
    cursor: hand;
    cursor: pointer;
}

/* --------------------- Data tables ----------------------- */

.datatable
{
    border-width: 1px;
    border-style: solid;
    border-color: #938B55;
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-spacing: 0px;
}

.datatable th
{
    text-align: left;
    padding: 3px 3px 3px 10px;
    background-color: #A29A86;
    color: #ffffff;
}

.datatable td
{
    text-align: left;
    border-width: 1px;
    border-style: solid;
    border-color: #938B55;
    border-width: 1px 0 0 0;
    padding: 3px 3px 3px 10px;
}

.datatable tr:nth-child(odd) { background-color:#F0ECE1; }
.datatable tr:nth-child(even) { background-color:#ffffff; }

.datatable .commands
{
    text-align: right;
    padding-right: 10px;
}

/* --------------------- Forms ----------------------- */

.formcontainer
{
    text-align: right;
    padding-bottom: 10px;
}

.form
{
    display: table
}

.formrow
{
    display: table-row;
}

.formitem
{
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    padding: 0 10px 5px 0;
    white-space:nowrap;
}

.formsubmit
{
    display: table-cell;
    text-align: right;
    padding-right: 10px;
}

/* --------------------- Page ----------------------- */

#message
{
    background-color: #F8F5F1;
    padding: 10px;
    color: #5F6155;
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
}

#message:empty 
{
    padding: 0px;
}

#error
{
    background-color: #FFA4A4;
    padding: 10px;
    color: #6C0000;
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
}

#error:empty 
{
    padding: 0px;
}

.base
{
    width: 100;
}

.page 
{
    background-color: #E7E1D1;
    border: 1px solid #5F6155;
    margin: 15px;
}

.page .body
{
    clear: both;
    padding: 30px 30px 30px 30px;
}

.page .body .content
{
    clear: both;
    text-align: center;
}

.footer
{
    padding: 0 30px 20px 30px;
    text-align: center;
}

/* --------------------- Header ----------------------- */

.page .header
{
    border-bottom: 1px solid #5F6155;
    background-image:url('images/header.large.background.png');
    height: 116px;
}

.page .header .links .left
{
    float: left;
}

.page .header .links .right
{
    float: right;
}

.page .header .links .left, 
.page .header .links .right
{
    height: 70px;
    vertical-align: middle;
    display:table-cell;
    color: #351E0D;
    padding: 10px 10px 0px 10px;
}

/* --------------------- Navigation Tabs ----------------------- */

.page .header .navigation
{
    clear: both;
}

.page .header .navigation .tab, 
.page .header .navigation .tabselected, 
.page .header .navigation .tabdisabled
{
    height: 35px;
    color: #351E0D;
    float: left;
    margin-left: 5px;
    line-height: 35px;
    padding: 0 10px 0 10px;
}

.page .header .navigation .tab
{
    background: url(images/button.dark.png);
    border: 1px solid #5F6155;
}

.page .header .navigation .tabselected
{
    background: url(images/button.light.png);
    border: 1px solid;
    border-color: #5F6155 #5F6155 #E6E0D0 #5F6155;
    font-weight: bold;
}

.page .header .navigation .tabdisabled
{
    background: url(images/button.verydark.png);
    border: 1px solid #5F6155;
    color: #000;
}

/* --------------------- Navigation Links ----------------------- */

.page .body .navigation .link,
.page .body .navigation .linkselected,
.page .body .navigation .linkdisabled
{
    height: 25px;
    float: left;
    padding-right: 10px;
    line-height: 25px;
    margin: -20px 0 10px 0;
}

.page .body .navigation .linkselected
{
    font-weight: bold;
}

.page .body .navigation .linkdisabled
{
    color: #6A6A62;
}

/* --------------------- Dialog ----------------------- */

.dialog 
{
    border: 1px solid #5F6155;
}

.dialog .header
{
    border-bottom: 1px solid #5F6155;
    background-image:url('images/header.small.background.png');
    height: 40px;
    font-size: 10pt;
    padding: 0px 10px 0px 10px;
}

.dialog .header .content
{
    height: 40px;
    vertical-align: middle;
    display:table-cell;
    color: #351E0D;
}

.dialog .body
{
    clear: both;
    background-color: #ffffff;
    padding: 10px;
}

