<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="volta" type="Volta.Core.Infrastructure.Application.Configuration.ConfigurationSection, Volta.Core, Version=1.0.0.0, Culture=neutral" />
  </configSections>
  <volta connectionString="mongodb://volta:volta@localhost/volta" fileStorePath=""/>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <file value="Volta.Web.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%d %-5p %m%n" />
      </layout>
    </appender>
    <appender name="EmailAppender" type="log4net.Appender.SmtpAppender">
      <threshold value="ERROR" />
      <to value="mob@mikeobrien.net" />
      <from value="Volta Application &lt;volta@volta.groupsadoway.org&gt;" />
      <subject value="Volta Error" />
      <smtpHost value="mail.bellsouth.net" />
      <bufferSize value="1" />
      <lossy value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %-5p%n%m%n" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="EmailAppender" />
    </root>
  </log4net>
    <system.net>
        <mailSettings>
            <smtp>
                <network host="mail.bellsouth.net"/>
            </smtp>
        </mailSettings>
    </system.net>
  <system.web>
    <httpRuntime executionTimeout="1800" maxRequestLength="512000" />
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="RemoteOnly">
      <error statusCode="404" redirect="/notfound.html" />
    </customErrors>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"></modules>
    <!-- To enable httpErrors: C:\Windows\System32\inetsrv\appcmd unlock config /section:"system.webServer/httpErrors" -->
    <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" subStatusCode="-1" path="/notfound.html" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ionic.Zip" publicKeyToken="edbe51ad942a3f5c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.1.8" newVersion="1.9.1.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StructureMap" publicKeyToken="e60ad81abae3c223" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.3.0" newVersion="2.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spark" publicKeyToken="7f8549eed921a12c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.0.0" newVersion="1.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.4468" newVersion="1.4.0.4468" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.4468" newVersion="1.4.0.4468" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>