<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Volta" type="Volta.Core.Application.Configuration.ConfigurationSection, Volta.Core, Version=1.0.0.0, Culture=neutral" />
  </configSections>
  <Volta connectionString="mongodb://volta:volta@localhost/volta" />
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>