<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="Volta" type="Volta.Core.Application.Configuration.ConfigurationSection, Volta.Core, Version=1.0.0.0, Culture=neutral" />
  </configSections>
  <Volta connectionString="mongodb://volta:volta@localhost/volta" />
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FubuCore" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.9.0.0" newVersion="0.9.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FubuCore" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.9.0.0" newVersion="0.9.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FubuCore" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.9.0.0" newVersion="0.9.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FubuCore" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.9.1.0" newVersion="0.9.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlTags" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FubuMVC.Core" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.9.0.0" newVersion="0.9.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>