<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<title>Volta - Dashboard</title>
<head>
<link rel="StyleSheet" href="site.css" type="text/css"/>
<script language="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>

</head>
<body>
    
    <div id="message_banner"></div>

    <div class="base">
        <div class="page">
            <div class="header">
                <div class="links">
                    <div class="left"><img src="volta.logo.medium.png"/></div>
                    <div class="right">wolff | <a class="darkanchor" href="">My Account</a> | <a class="darkanchor" href="">Logout</a></div>
                </div>
                <div class="tabs">
                    <div class="tab"><a class="lightanchor" href="" title="Administration">DASHBOARD</a></div>
                    <div class="tab"><a class="lightanchor" href="" title="Administration">TEST BATCHES</a></div>
                    <div class="tabselected">ADMINISTRATION</div>
                </div>
            </div>
            <div class="body">
                <div class="tabs">
                    <div class="tabselected">Users</div>
                    <div class="tab">|</div>
                    <div class="tab"><a class="darkfineanchor" href="" title="Add User">Add User</a></a></div>
                    <div class="tab">|</div>
                    <div class="tab"><a class="darkfineanchor" href="" title="Server">Server</a></div>
                    <div class="tab">|</div>
                    <div class="tab"><a class="darkfineanchor" href="" title="Configuration">Configuration</a></div>
                </div>
                
                <table class="datatable">
                    <tr><th><a class="lightanchor" href="" title="Sort by Batch Name">Username</a></th><th><a class="lightanchor" href="" title="Sort by Description">Email</a></th><th><a class="lightanchor" href="" title="Sort by Created By">Created By</a></th><th><a class="lightanchor" href="" title="Sort by Create Date">Create Date</a></th><th class="commands"><a href=""><img title="Add Batch" src="add.png"/></a></th></tr>
                    <tr><td><a class="darkanchor" href="" title="View Batch">fritz.london</a></td><td>fritz.london@duke.edu</td><td>davidb</td><td>05-16-2011</td><td class="commands"><a href="" title="Edit Batch"><img src="edit.png"/></a>&nbsp;<a href="" title="Delete Batch"><img src="delete.png"/></a></td></tr>
                    <tr><td><a class="darkanchor" href="" title="View Batch">fritz.london</a></td><td>fritz.london@duke.edu</td><td>davidb</td><td>05-16-2011</td><td class="commands"><a href="" title="Edit Batch"><img src="edit.png"/></a>&nbsp;<a href="" title="Delete Batch"><img src="delete.png"/></a></td></tr>
                    <tr><td><a class="darkanchor" href="" title="View Batch">fritz.london</a></td><td>fritz.london@duke.edu</td><td>davidb</td><td>05-16-2011</td><td class="commands"><a href="" title="Edit Batch"><img src="edit.png"/></a>&nbsp;<a href="" title="Delete Batch"><img src="delete.png"/></a></td></tr>
                    <tr><td><a class="darkanchor" href="" title="View Batch">fritz.london</a></td><td>fritz.london@duke.edu</td><td>davidb</td><td>05-16-2011</td><td class="commands"><a href="" title="Edit Batch"><img src="edit.png"/></a>&nbsp;<a href="" title="Delete Batch"><img src="delete.png"/></a></td></tr>
                    <tr><td><a class="darkanchor" href="" title="View Batch">fritz.london</a></td><td>fritz.london@duke.edu</td><td>davidb</td><td>05-16-2011</td><td class="commands"><a href="" title="Edit Batch"><img src="edit.png"/></a>&nbsp;<a href="" title="Delete Batch"><img src="delete.png"/></a></td></tr>
                    <tr><td><a class="darkanchor" href="" title="View Batch">fritz.london</a></td><td>fritz.london@duke.edu</td><td>davidb</td><td>05-16-2011</td><td class="commands"><a href="" title="Edit Batch"><img src="edit.png"/></a>&nbsp;<a href="" title="Delete Batch"><img src="delete.png"/></a></td></tr>
                    <tr><td><a class="darkanchor" href="" title="View Batch">fritz.london</a></td><td>fritz.london@duke.edu</td><td>davidb</td><td>05-16-2011</td><td class="commands"><a href="" title="Edit Batch"><img src="edit.png"/></a>&nbsp;<a href="" title="Delete Batch"><img src="delete.png"/></a></td></tr>
                    <tr><td><a class="darkanchor" href="" title="View Batch">fritz.london</a></td><td>fritz.london@duke.edu</td><td>davidb</td><td>05-16-2011</td><td class="commands"><a href="" title="Edit Batch"><img src="edit.png"/></a>&nbsp;<a href="" title="Delete Batch"><img src="delete.png"/></a></td></tr>
                    <tr><td><a class="darkanchor" href="" title="View Batch">fritz.london</a></td><td>fritz.london@duke.edu</td><td>davidb</td><td>05-16-2011</td><td class="commands"><a href="" title="Edit Batch"><img src="edit.png"/></a>&nbsp;<a href="" title="Delete Batch"><img src="delete.png"/></a></td></tr>
                    <tr><td><a class="darkanchor" href="" title="View Batch">fritz.london</a></td><td>fritz.london@duke.edu</td><td>davidb</td><td>05-16-2011</td><td class="commands"><a href="" title="Edit Batch"><img src="edit.png"/></a>&nbsp;<a href="" title="Delete Batch"><img src="delete.png"/></a></td></tr>
                    <tr><td><a class="darkanchor" href="" title="View Batch">fritz.london</a></td><td>fritz.london@duke.edu</td><td>davidb</td><td>05-16-2011</td><td class="commands"><a href="" title="Edit Batch"><img src="edit.png"/></a>&nbsp;<a href="" title="Delete Batch"><img src="delete.png"/></a></td></tr>
                    <tr><td><a class="darkanchor" href="" title="View Batch">fritz.london</a></td><td>fritz.london@duke.edu</td><td>davidb</td><td>05-16-2011</td><td class="commands"><a href="" title="Edit Batch"><img src="edit.png"/></a>&nbsp;<a href="" title="Delete Batch"><img src="delete.png"/></a></td></tr>
                    <tr><td><a class="darkanchor" href="" title="View Batch">fritz.london</a></td><td>fritz.london@duke.edu</td><td>davidb</td><td>05-16-2011</td><td class="commands"><a href="" title="Edit Batch"><img src="edit.png"/></a>&nbsp;<a href="" title="Delete Batch"><img src="delete.png"/></a></td></tr>
                    <tr><td><a class="darkanchor" href="" title="View Batch">fritz.london</a></td><td>fritz.london@duke.edu</td><td>davidb</td><td>05-16-2011</td><td class="commands"><a href="" title="Edit Batch"><img src="edit.png"/></a>&nbsp;<a href="" title="Delete Batch"><img src="delete.png"/></a></td></tr>
                    <tr><td><a class="darkanchor" href="" title="View Batch">fritz.london</a></td><td>fritz.london@duke.edu</td><td>davidb</td><td>05-16-2011</td><td class="commands"><a href="" title="Edit Batch"><img src="edit.png"/></a>&nbsp;<a href="" title="Delete Batch"><img src="delete.png"/></a></td></tr>
                    <tr><td><a class="darkanchor" href="" title="View Batch">fritz.london</a></td><td>fritz.london@duke.edu</td><td>davidb</td><td>05-16-2011</td><td class="commands"><a href="" title="Edit Batch"><img src="edit.png"/></a>&nbsp;<a href="" title="Delete Batch"><img src="delete.png"/></a></td></tr>
                    <tr><td><a class="darkanchor" href="" title="View Batch">fritz.london</a></td><td>fritz.london@duke.edu</td><td>davidb</td><td>05-16-2011</td><td class="commands"><a href="" title="Edit Batch"><img src="edit.png"/></a>&nbsp;<a href="" title="Delete Batch"><img src="delete.png"/></a></td></tr>
                    <tr><td><a class="darkanchor" href="" title="View Batch">fritz.london</a></td><td>fritz.london@duke.edu</td><td>davidb</td><td>05-16-2011</td><td class="commands"><a href="" title="Edit Batch"><img src="edit.png"/></a>&nbsp;<a href="" title="Delete Batch"><img src="delete.png"/></a></td></tr>
                    <tr><td><a class="darkanchor" href="" title="View Batch">fritz.london</a></td><td>fritz.london@duke.edu</td><td>davidb</td><td>05-16-2011</td><td class="commands"><a href="" title="Edit Batch"><img src="edit.png"/></a>&nbsp;<a href="" title="Delete Batch"><img src="delete.png"/></a></td></tr>
                    <tr><td><a class="darkanchor" href="" title="View Batch">fritz.london</a></td><td>fritz.london@duke.edu</td><td>davidb</td><td>05-16-2011</td><td class="commands"><a href="" title="Edit Batch"><img src="edit.png"/></a>&nbsp;<a href="" title="Delete Batch"><img src="delete.png"/></a></td></tr>
                    <tr><td class="commands" colspan="5">1-20 of 345 <a class="darkanchor" href="" title="Previous page">Previous</a> | <a class="darkanchor" href="" title="Next page">Next</a></td></tr>
                </table>
                
            </div>
            
        </div>
    </div>
            
    <div class="footer">
        Volta v1.2.3.45 &bull; Copyright &copy; 2011 Group Sadoway &bull; Cambridge, MA
    </div>
</body>
</html>