<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<title>Volta - Dashboard</title>
<head>
<link rel="StyleSheet" href="site.css" type="text/css"/>
<script language="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>

</head>
<body>
    
    <div id="message_banner"></div>

    <div class="base">
        <div class="page">
            <div class="header">
                <div class="links">
                    <div class="left"><img src="volta.logo.medium.png"/></div>
                    <div class="right">wolff | <a class="darkanchor" href="">My Account</a> | <a class="darkanchor" href="">Logout</a></div>
                </div>
                <div class="tabs">
                    <div class="tabselected"><b>DASHBOARD</b></div>
                    <div class="tab"><a class="lightanchor" href="" title="Administration">ADMINISTRATION</a></div>
                </div>
            </div>
            <div class="body">

                <p>Starting point for users coming into the application....</p>
                
            </div>
            
        </div>
    </div>
            
    <div class="footer">
        Volta v1.2.3.45 &bull; Copyright &copy; 2011 Group Sadoway &bull; Cambridge, MA
    </div>
</body>
</html>