<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<title>Volta - Dashboard</title>
<head>
<link rel="StyleSheet" href="site.css" type="text/css"/>
<script language="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>

</head>
<body>
    
    <div id="message_banner"></div>

    <div class="base">
        <div class="page">
            <div class="header">
                <div class="links">
                    <div class="left"><img src="volta.logo.medium.png"/></div>
                    <div class="right">wolff | <a class="darkanchor" href="">My Account</a> | <a class="darkanchor" href="">Logout</a></div>
                </div>
                <div class="tabs">
                    <div class="tabselected"><b>DASHBOARD</b></div>
                    <div class="tab"><a class="lightanchor" href="" title="Administration">ADMINISTRATION</a></div>
                </div>
            </div>
            <div class="body" style="padding-top: 30px">

<fieldset>
                    <legend>Edit User mobrien</legend>

                    <div class="form"> 
                        <div class="formrow"><div class="formitem">
                            <div class="form"> 
                                <div class="formrow">
                                    <div class="formitem"><label class="formlabel" id="Username" for="Username">Username</label></div>
                                    <div class="formitem"><input class="textbox" type="text" name="Username" id="Username" size="35" value="mobrien"/></div>
                                </div>
                                
                                <div class="formrow">
                                    <div class="formitem"><label class="formlabel" id="Password" for="Password">Password</label></div>
                                    <div class="formitem"><input class="textbox" type="password" name="Password" id="Password" size="35" value="P@$$word"/></div>
                                </div>
                                
                                <div class="formrow">
                                    <div class="formitem"><label class="formlabel" id="Password2" for="Password2">Re-enter Password</label></div>
                                    <div class="formitem"><input class="textbox" type="password" name="Password2" id="Password2" size="35" value="P@$$word"/></div>
                                </div>
                                
                                <div class="formrow">
                                    <div class="formitem"><label class="formlabel" id="name" for="name">Administrator</label></div>
                                    <div class="formitem">
                                        <input type="checkbox" name="Administrator" value="True" checked="checked"/>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </fieldset>
                
                <div class="formbuttons">
                    <input class="button" type="submit" value="Cancel"/>
                    <input class="button" type="submit" value="Save"/>
                </div>
                
            </div>
            
        </div>
    </div>
            
    <div class="footer">
        Volta v1.2.3.45 &bull; Copyright &copy; 2011 Group Sadoway &bull; Cambridge, MA
    </div>
</body>
</html>