<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<title>Volta - Template</title>
<head>
<link rel="StyleSheet" href="site.css" type="text/css"/>
<script language="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>

</head>
<body>
    <div id="message_banner"></div>

        <div class="body" style="width: 320px; margin: 110px auto 200px auto;">
            <img src="volta.logo.large.png" style="display: block; margin: 0 auto 50px auto"/>
            <form>
                <div class="form"> 
                    <div class="formrow">
                        <div class="formitem"><label class="formlabel" id="username" for="username">Username</label></div>
                        <div class="formitem"><input class="textbox" type="text" name="username" id="username" value="wolff" size="25" style="margin: 0"/></div>
                    </div>
                    <div class="formrow">
                        <div class="formitem"><label class="formlabel" id="password" for="password">Password</label></div>
                        <div class="formitem"><input class="textbox" type="password" name="password" id="password" value="wolff" size="25" style="margin: 0"/></div>
                    </div>
                    <div class="formrow"><div class="formitem"></div><div class="formsubmit"><input class="button" type="submit" value="Login"/></div></div>
                </div>
            </form>
        </div>

</body>
</html>